@media (min-width: 1600px) {
  .container {
    max-width: 1585px !important;
    margin: 0 auto;
  }
}
.job-feed {
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--color-5D5E60);
}
.Job-Feed-option {
  font-size: var(--font-sms);
  font-weight: 500;
  color: var(--color-5D5E60);
}
.Job-Feed-option:hover {
  color: var(--color-17191C);
}
.side-line {
  border-right: 1px solid var(--color-E8E8E8);
  right: 20px;
}
