@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*mam/sir miane ye do properties use ki hai------>>>>>>>*/
    transition: all 100ms ease-in-out;
    /*<<<<<<<<<-------*/
}

:root {
    /* BLUE  SCHEME  */
    --color-127CF9: #127cf9;
    --color-59A3FB: #59a3fb;
    --color-88BEFC: #88befc;
    --color-B8D8FD: #b8d8fd;
    --color-E7F2FE: #e7f2fe;
    --color-E5E5E5: #E5E5E5;
    --color-FA1111: #fa1111;
    /* BLACK SCHEME */
    --color-17191C: #17191c;
    --color-5D5E60: #5d5e60;
    --color-8B8C8D: #8b8c8d;
    --color-B9BABB: #b9babb;
    --color-E8E8E8: #e8e8e8;
    --color-F8F8F8: #f8f8f8;
    /* FONT SIZES  */
    --font-xxxl: 62px;
    --font-xxl: 49px;
    --font-xl: 39px;
    --font-lg: 31px;
    --font-md: 25px;
    --font-sm: 20px;
    --font-sm: 16px;
    --font-xs: 20px;
    --font-xxs: 13px;
}

/* -------TYPOGRAPHY------- */
.bg-E5E5E5 {
    background-color: var(--color-E5E5E5);
}

/* ----------FONT-SIZES---------- */
.fs-13 {
    font-size: var(--font-xxs);
}

.fs-16 {
    font-size: var(--font-sm);
}

.fs-20 {
    font-size: var(--font-xs);
}

.fs-25 {
    font-size: var(--font-md);
}

.fs-31 {
    font-size: var(--font-lg);
}

.fs-39 {
    font-size: var(--font-xl);
}

.fs-49 {
    font-size: var(--font-xxl);
}

.fs-62 {
    font-size: var(--font-xxxl);
}

/* --------FONT-WEIGHT--------- */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ----------COLOR---------- */
.fc-127CF9 {
    color: var(--color-127CF9);
}

.fc-17191c {
    color: var(--color-17191C);
}

.fc-5D5E60 {
    color: var(--color-5D5E60);
}

.fc-127cf9 {
    color: var(--color-127CF9);
}

.fc-17191C {
    color: var(--color-17191C);
}

.fc-5D5E60 {
    color: var(--color-5D5E60);
}

.fc-8B8C8D {
    color: var(--color-8B8C8D);
}

/* -------------POST------------- */
.post {
    border: 1px solid #DCDDDD !important;
    background-color: var(--color-F8F8F8);
    transition: all 200ms ease-in-out;
    /* Gray-300 */
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.post:hover {
    border: none;
    outline: none;
    box-shadow: 0px 3px 15px #EFF3F7;
    background-color: white;
}

/* ---------PAGE-BUTTONS--------- */
.small-button {
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 1em;
    background-color: var(--color-127CF9);
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
}

.small-button:hover {
    box-shadow: 0px 4px 10px -9px #96BFEF;
}

.larg-button {
    font-size: 16px;
    font-weight: 600;
    padding: 1em 1.5em;
    background-color: var(--color-127CF9);
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
}

.larg-button:hover {
    box-shadow: 0px 4px 10px -9px #96BFEF;
}

/* DROPDOWN-BUTTON */
/* Chrome, Safari, Edge, Opera */
input[name=yourQuote]::-webkit-outer-spin-button,
input[name=yourQuote]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    outline: none;
}

/* Firefox */
input[name=yourQuote] {
    -moz-appearance: textfield;
    outline: none;
}

.sorting {
    outline: none;
    background-color: white;
    transition: all 100ms ease-in-out !important;
}

.sorting>ul:focus {
    box-shadow: none;
    outline: none;
}

.creator {
    padding: 0.25em 0.25em;
    width: 200px;
    outline: none;
    background-color: white;
    transition: all 100ms ease-in-out;
}

.creator>ul:focus {
    box-shadow: none;
    outline: none;
}

.bg-E5E5E5 input[type="search"] {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    color: #8B8C8D;
    padding: 1em 1.25em;
    outline: none;
}

.bg-E5E5E5 svg {
    cursor: pointer;
}

/* <<<<<<<<<------------VIEW-JOB-PAGE-START------------>>>>>>>> */
.respons-button {
    padding: 0.5em 1em;
    color: var(--color-5D5E60);
    background: var(--color-F8F8F8);
    border: 1px solid var(--color-E8E8E8);
    box-sizing: border-box;
    border-radius: 3px;
    align-items: center;
    display: flex;
    text-decoration: none;
    outline: none;
}

.respons-button:hover {
    color: var(--color-5D5E60);
}

.respons-button>svg {
    margin-right: 0.688em;
}

.view-job {
    border: 1px solid #DCDDDD !important;
    background-color: var(--color-F8F8F8);
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px #EFF3F7;
    border-radius: 10px;
    outline: none;
}

/* -----------APPLY-FOR-JOB-PAGE----------- */
textarea[placeholder="Message For Client"] {
    border: 1px solid var(--color-E8E8E8);
    padding: 1em 1.5em;
    border-radius: 3px;
    outline: none;
}

textarea[placeholder="Explain your report"] {
    border: 1px solid var(--color-E8E8E8);
    padding: 1em 1.5em;
    border-radius: 3px;
    outline: none;
}

label[for~="your-quote"] {
    outline: none;
    padding: 1em 1.5em;
    border: 1px solid var(--color-E8E8E8);
    box-sizing: border-box;
    border-radius: 3px;
}

label[for~="your-quote"]>input {
    outline: none;
    border: none;
}

.job-applied {
    padding: 2em 4.5em;
    border-radius: 10px;
}

.modal-content>div.text-center>button {
    right: 20px;
    top: 20px;
}

.my-modal {
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.report-job {
    padding: 1.5em 2em;
    border-radius: 10px;
}

.report-job>ul>li>a {
    text-decoration: none;
    background-color: var(--color-F8F8F8);
    border: 1px solid var(--color-E8E8E8);
    border-radius: 56px;
    color: var(--color-5D5E60);
    padding: 0.5em 1em;
}

.report-job>ul>li>a:hover {
    background-color: var(--color-5D5E60);
    color: white;
}

.report-job>textarea {
    margin-bottom: 1.625em;
}

.cancel {
    background-color: var(--color-F8F8F8);
    border: 1px solid var(--color-E8E8E8);
    border-radius: 3px;
    color: var(--color-5D5E60);
    padding: 0.5em 1em;
}

.resize-none {
    resize: none;
}

/* MEDIA-QUARIES */
@media (max-width: 768px) {
    :root {
        --font-xxxl: 40px;
        --font-xxl: 30px;
        --font-xl: 34px;
        --font-lg: 27px;
        --font-md: 21px;
        --font-sm: 17px;
        --font-smll: 14px;
        --font-xs: 18px;
        --font-xxs: 10px;
    }
}

@media (max-width: 567px) {
    :root {
        --font-xxxl: 38px;
        --font-xxl: 27px;
        --font-xl: 31px;
        --font-lg: 25px;
        --font-md: 19px;
        --font-sm: 15px;
        --font-smll: 12px;
        --font-xs: 16px;
        --font-xxs: 10px;
    }
}