:root {
  --color-fff: #ffffff;
  --color-DCDDDD: #dcdddd;
  --color-000000: #000000;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--color-F8F8F8);
}
.search-input {
  border: 1px solid var(--color-E8E8E8);
}
.search-input:focus {
  outline: none;
}
.search-icon {
  right: 20px;
}
.Sorting-btn {
  border: 1px solid var(--color-E8E8E8);
}
.w-425 {
  max-width: 425px;
}
.w-129 {
  max-width: 129px;
}
.card-hadings {
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--color-17191C);
  line-height: 150%;
}
.fixed-price {
  font-size: var(--font-xxs);
  font-weight: 600;
  color: var(--color-5D5E60);
}
.price {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--color-127CF9);
}
.main-hading {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--color-17191C);
  line-height: 120%;
}
.para {
  font-size: var(--font-sms);
  font-weight: 500;
  color: var(--color-5D5E60);
}
.light-para {
  font-size: var(--font-sms);
  font-weight: 600;
  color: var(--color-5D5E60);
}
.read-more {
  font-size: var(--font-sms);
  font-weight: 500;
  color: var(--color-127CF9);
}
.delivery {
  font-size: var(--font-sms);
  font-weight: 500;
  color: var(--color-17191C);
}
.view-job-btn {
  font-size: var(--font-sms);
  font-weight: 600;
  color: var(--color-fff) !important;
  padding: 8px 16px;
  background-color: var(--color-127CF9);
  border-radius: 3px;
}
.view-job-btn:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px -9px #96bfef;
  background-color: #4694ee;
}
.bluebox {
  top: 15px;
  right: 18px;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background-color: var(--color-127CF9);
}
/* job card */
.job-cards {
  border: 1px solid var(--color-DCDDDD);
  border-radius: 10px;
}
.job-cards:hover {
  background-color: var(--color-fff);
  box-shadow: 0px 3px 15px #eff3f7;
  transition: all 0.5s ease-in-out;
}
.card-head-line {
  display: -webkit-box;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*=========================================== view job page=============================== */

.bg-fff {
  background-color: var(--color-fff);
}
.border-e8e8e8 {
  border: 1px solid var(--color-E8E8E8);
}
.hr {
  border-bottom: 1px solid var(--color-E8E8E8);
}
.br-3 {
  border-radius: 3px;
}

.Start-Dispute-hover {
  background-color: var(--color-F8F8F8);
}
.Start-Dispute-hover:hover {
  transition: all 0.5s ease-in-out;
  background-color: #e2e0e0;
}
.delivery-btn {
  background-color: var(--color-127CF9);
  border-radius: 3px;
  font-size: var(--font-sms);
  color: var(--color-fff) !important;
}
/* ===========  modals  =================  */

.modal-hading {
  font-size: var(--font-md);
  font-weight: 600;
  color: var(--color-000000);
}
.days {
  font-size: var(--font-xxs);
  font-weight: 500;
  color: var(--color-5D5E60);
}
.modal-dialog {
  max-width: 949px !important;
}
.model-sub-hading {
  font-size: var(--font-sms);
  font-weight: 600;
  color: var(--color-17191C);
}
.accordion-button {
  padding: 16px 16px 6px 24px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.modal-header {
  border-bottom: none !important;
}

/* ========================= */
@media (max-width: 768px) {
  :root {
    --font-xxxl: 40px;
    --font-xxl: 30px;
    --font-xl: 34px;
    --font-lg: 27px;
    --font-md: 21px;
    --font-sm: 17px;
    --font-smll: 14px;
    --font-xs: 18px;
    --font-xxs: 10px;
  }
}
@media (max-width: 567px) {
  :root {
    --font-xxxl: 38px;
    --font-xxl: 27px;
    --font-xl: 31px;
    --font-lg: 25px;
    --font-md: 19px;
    --font-sm: 15px;
    --font-smll: 12px;
    --font-xs: 16px;
    --font-xxs: 10px;
  }
}
